<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
</head>
<body>
    <div>
        Hello, Home Controller's Index View.
    </div>
    <div>
        @ViewBag.Greeting
        <p>
            TODO: sell it better to your friends...
        </p>

        <a asp-action="RsvpForm">RSVP now</a>
    </div>
</body>
</html>
