@model IEnumerable<PartyInvites.Models.Guest>

@{
    Layout = null;
 }

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Responses</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="panel-body">
        <h2>Here is a list of people attending the party </h2>
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PartyInvites.Models.Guest g in Model)
                {
                    <tr>
                        <td>@g.Name</td>
                        <td>@g.Email</td>
                        <td>@g.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>